@{
    Layout = null;
}
<!DOCTYPE html>

    <html>
    <head>
        <title>Johnny Jones</title>
        
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/StyleSheet.css" rel="stylesheet" />

    </head>
    <body>

    <center>
        <header style="background-color: black; padding-bottom: 0%;position: fixed; top: 0; width: 100%;box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.52);">
            <img src="~/610KlhWvj0L._AC_SX425_.jpg" style="float:top; width:5%;float:right" />
            <img src="/Capture.JPG" style="float:left; width:22%">
            <a class="btn btn-primary" href="https://github.com/johnnyjonesjr90" target="_blank" style="margin-right: 2%; float: right;margin-top:1%">GitHub</a>
            <a class="btn btn-primary" href="https://www.linkedin.com/in/johnnyjonesjr" target="_blank" style="margin-right:2%;float:right; margin-left: 2%;margin-top:1%">LinkedIn</a>
            <a class="btn btn-primary" asp-action="About" style="margin-left: 0%;margin-right:0%; float: right;margin-top:1%">About</a>
            <a class="btn btn-primary" asp-action="Resume" style="margin-right: 2%; float: right;margin-top:1%">Resume</a>
            <a class="btn btn-primary" href="mailto:johnny.c.jones@outlook.com" style="margin-right: 2%; float: right;margin-top:1%">Email Me</a>
            <a class="btn btn-primary" href="tel:7326858172" style="margin-right: 2%; float: right;margin-top:1%">Call/Text Me</a>
        </header>

        <div style="background-image: url('/wwwroot/bigstock-d-Rendering-Cloud-Computing-267217441_1024X684.jpg');">
            <div class="text-center" style="font-family: serif; margin-top: 19%; font-size: 350%">
                From Customer service to Network diagrams<br />I have the experience to take your company<br />
                to the next level
            </div>
            <div style="margin-top: 13%;font-family: serif; font-size: 150%">Scroll to learn more about what I do<br /><big><span>&#x25BC</span></big><br /></div>

        </div>
    </center>
            

        <div style="margin-top: 5%; margin-left: 2%; font-size: 250%;width: 100%">IT Management</div>
        <div style="margin-top: 5%; margin-left: 70%; font-size: 250%;width: 100%"> Software Development</div>
        <div style="margin-top: 5%; margin-left: 2%; font-size: 250%;width: 100%"> Systems Administration</div>
        <div style="margin-top: 5%; margin-left: 70%; font-size: 250%;width: 100%"> Network Engineering</div>
        <div style="margin-top: 5%; margin-left: 2%; font-size: 250%;width: 100%"> Cybersecurity</div>
        <center>
            <div class="text-center" style="font-size: 30px; font-family: serif; margin-top: 40%"><strong>“The view you adopt for yourself profoundly affects the way you lead your life.” ~Satya Nadella</strong></div>
            <div class="text-center" style="margin-top: 7%;margin-bottom: 10%">
                <img src="~/isc2_sscp.png" style="margin-right: 2%" />

                <img src="~/CompTIA_Security_2Bce.png" style="margin-right: 2%; margin-left: 2%" />

                <img src="~/CompTIA_Server_2B.png" style="margin-right: 2%; margin-left: 2%" />

                <img src="~/MTA_Networking_Fundamentals_2017-01.png" style="margin-right: 2%; margin-left: 2%" />

                <img src="~/MTA-Software_Development_Fundamentals.png" style="margin-right: 2%; margin-left: 2%" />

                <img src="~/azure-fundamentals-600x600.png" style="margin-right: 2%; margin-left: 2%" />
            </div>
        </center>
    </body>
</html>

