@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Resume</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body style="background-color: black">


<header style="background-color: black; padding-bottom: 0%; position: fixed; top: 0; width: 100%;box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.52)">
    <img src="~/610KlhWvj0L._AC_SX425_.jpg" style="float:top; width:5%;float:right" />
    <img src="/Capture.JPG" style="float:left; width:22%">
    <a class="btn btn-primary" href="https://github.com/johnnyjonesjr90" target="_blank" style="margin-right: 2%; float: right;margin-top:1%">GitHub</a>
    <a class="btn btn-primary" href="https://www.linkedin.com/in/johnnyjonesjr" target="_blank" style="margin-right:2%;float:right; margin-left: 2%;margin-top:1%">LinkedIn</a>
    <a class="btn btn-primary" asp-action="HomePage" style="margin-left: 0%;margin-right:0%; float: right;margin-top:1%">Home</a>
    <a class="btn btn-primary" asp-action="About" style="margin-right: 2%; float: right;margin-top:1%">About</a>
    <a class="btn btn-primary" href="mailto:johnny.c.jones@outlook.com" style="margin-right: 2%; float: right;margin-top:1%">Email Me</a>
    <a class="btn btn-primary" href="tel:7326858172" style="margin-right: 2%; float: right;margin-top:1%">Call/Text Me</a>
</header>
<a href="~/css/Johnny_Jones_Resume_.pdf" download style="float: left; margin-left: 15%;color: orangered"><u>Download Resume Here</u></a>
    <div class="text-center" style="padding-top: 10%; padding-bottom: 70%; background-image: url('/css/keys.JPG'); background-size: cover; background-position: center; height: 100vh; width: 75%; margin-left: 12.5%; color: white; margin-top: 5%">
        <a class="btn btn-primary" style="margin-bottom: -2%; margin-top: -3%; border-radius: 50%; height: 50px; border: 2px solid white; margin-bottom: 10%"> Certifications<img src="~/css/Certs.JPG" /></a>
        <br />
        <br />
        <br />
        <a class="btn btn-primary" style="margin-bottom: -2%; margin-top: -3%; border-radius: 50%; height: 50px; border: 2px solid white"> 2020<img src="~/css/MSSA.JPG" /></a>
        <center>
            <div class="vl" style="margin-left: 49.7%"></div>
        </center>
        <a class="btn btn-primary" style="margin-bottom: -2%; margin-top: -3%; border-radius: 50%; height: 50px; z-index: 9; border: 2px solid white"> 2020 - 2020<img src="~/css/Director.JPG" /></a>
        <center>
            <div class="vl" style="margin-left: 49.7%"></div>
        </center>
        <a class="btn btn-primary" style="margin-bottom: -2%; margin-top: -3%; border-radius: 50%; height: 50px; z-index: 9; border: 2px solid white"> 2019 - 2020<img src="~/css/TD.JPG" /></a>
        <center>
            <div class="vl" style="margin-left: 49.7%"></div>
        </center>
        <a class="btn btn-primary" style="margin-bottom: -2%; margin-top: -3%; border-radius: 50%; height: 50px; z-index: 9; border: 2px solid white"> 2018 - 2019<img src="~/css/Senior sysad.JPG" /></a>
        <center>
            <div class="vl" style="margin-left: 49.7%"></div>
        </center>
        <a class="btn btn-primary" style="margin-bottom: -2%; margin-top: -3%; border-radius: 50%; height: 50px; z-index: 9; border: 2px solid white"> 2017 - 2018<img src="~/css/bahrain.JPG" /></a>
        <center>
            <div class="vl" style="margin-left: 49.7%"></div>
        </center>
        <a class="btn btn-primary" style="margin-bottom: -2%; margin-top: -3%; border-radius: 50%; height: 50px; z-index: 9; border: 2px solid white"> 2012 - 2017<img src="~/css/first.JPG" /></a>
    </div>

 



</body>
</html>



