
@{
    ViewData["Title"] = "test";
}

<!DOCTYPE html>
<html>
<head class="cars">
    <title>Resume</title>
   
    <link href="css/StyleSheet.css" rel="stylesheet" type="text/css"/>
</head>
@*<body style="background-image: url('/css/d402d650fd5aa58be87b6de5c87714b8.jpg')">*@
<body style="background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)),url('/css/d402d650fd5aa58be87b6de5c87714b8.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;">

</body>
<h1>TEST</h1>

@*</body>*@
</html>